<div class="container" ng-controller="institutionManagerController">
	<h1 class="page-header">Workers of {{$parent.institution.institutionName}}</h1>
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Email</th>
						<th>Date of birth</th>
						<th>Shirt size</th>
						<th>Shoe number</th>
						<th>Worker role</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="worker in institutionWorkers"
						ng-click="setSelectedWorker(worker)"
						ng-class="{'info' : selectedWorker===worker}">
						<td>{{worker.id}}</td>
						<td>{{worker.userName}}</td>
						<td>{{worker.surname}}</td>
						<td>{{worker.email}}</td>
						<td>{{worker.dateOfBirth}}</td>
						<td>{{worker.shirtSize}}</td>
						<td>{{worker.shoeNumber}}</td>
						<td>{{worker.userRole}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="conteinter">
		<div class="row">
			<div class="col-xs-12 offset3">
				<div class="text-left">
					<button type="button" class="btn btn-primary"
						ng-click="displayWorker(3)">Register waiter</button>
					<button type="button" class="btn btn-primary" confirmed-click="deleteWorker()"
						ng-confirm-click="Do you want to delete this worker? If yes , it will delete all content that is dependent on this." ng-disabled="!selectedWorker">Delete
				</div>
			</div>
		</div>
		<br />
	</div>
	<div ng-show="showW==3" ng-include src="'pages/registerWaiter.html'"></div>
</div>