<h1 class="page-header">{{$parent.loggedUser.userName}} , your institution.</h1>
<div class="container" ng-controller="institutionManagerController">
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Institution type</th>
						<th>Description</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{institution.id}}</td>
						<td>{{institution.institutionName}}</td>
						<td>{{institution.institutionType}}</td>
						<td>{{institution.description}}</td>
						<td>{{institution.adresaIns}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="conteinter">
		<div class="row">
			<div class="col-xs-12 offset3">
				<div class="text-left">
					<button type="button" class="btn btn-primary" ng-click="display(2)">Edit
						this</button>
					<button type="button" class="btn btn-primary" ng-click="display(1)">Register
						projection</button>
					<button type="button" class="btn btn-primary"
						ng-click="getProjectionsForInstitution()">Show institution
						projections</button>
					<button type="button" class="btn btn-primary"
						ng-click="getAllProjections()">Show all projections</button>
						
					<button type="button" class="btn btn-primary"
						ng-click="getAllFastCards()">Show all fast cards</button>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div ng-show="show==1" ng-include src="'pages/registerProjection.html'"></div>
	<div ng-show="show==2" ng-include src="'pages/editInstitutionByInstitutionManager.html'"></div>
	<div ng-show="show==3" ng-include src="'pages/institutionProjectionsDelete.html'"></div>
	<div ng-show="show==4" ng-include src="'pages/allProjections.html'"></div>
	<div ng-show="show==5" ng-include src="'pages/fastCards.html'"></div>

</div>
</div>