<h1 class="page-header">All institutions</h1>
<div class="container" ng-controller="systemManagerController">
	<div ng-include src="'pages/tableInstitution.html'"></div>
	<div class="conteinter">
		<div class="row">
			<div class="col-xs-12 offset3">
				<div class="text-left">
					<button type="button" class="btn btn-primary" ng-click="display(1)">Register
						new institution</button>
					<button type="button" class="btn btn-primary" ng-click="display(4)"
						ng-disabled="!selected">Edit this institution</button>
					<button type="button" class="btn btn-primary"
						confirmed-click="deleteinstitution()"
						ng-confirm-click="Do you want to delete this institution? If yes , it will delete all content that is dependent on this."
						ng-disabled="!selected">Delete this</button>
					<button type="button" class="btn btn-primary"
						ng-click="getinstitutionManagers()" ng-disabled="!selected">View
						institution managers</button>
					<button type="button" class="btn btn-primary" ng-click="display(3)"
						ng-disabled="!selected">Register institution manager</button>
				</div>
			</div>
		</div>
	</div>
	<br />

	<div ng-show="show==1" ng-include src="'pages/registerInstitution.html'"></div>
	<div ng-show="show==2" ng-include src="'pages/institutionManagers.html'"></div>
	<div ng-show="show==3" ng-include src="'pages/registerInstitutionManager.html'"></div>
	<div ng-show="show==4" ng-include src="'pages/editInstitutionBySystemManager.html'"></div>
</div>
</div>