<div role="form" class="form-inline" ng-controller="profileController">
	<h1 class="page-header text-center">PROFILE</h1>
	
	<div class="container marketing">
		<form class="form-horizontal" name="profileForm">
			<table class="table table-striped">
				<tr>
					<td>ID</td><td>{{user.id}}</td>
				</tr>
				<tr>
					<td>Email</td><td><input class="form-control" name="email" type="email" ng-model="user.email" required/><span style="color:red" ng-show="profileForm.email.$dirty && profileForm.email.$invalid"> Email is not valid!</span></td>
				</tr>
				<tr>
					<td>Name</td><td><input class="form-control" name="name" type="text" ng-model="user.userName" ng-pattern="/^\b[A-Z][a-z]*(\s*\b[A-Z][a-z]*\b)*$/" required/><span style="color:red" ng-show="profileForm.name.$invalid"> Name is not valid!</span></td>
				<tr>
					<td>Surname</td><td><input class="form-control" name="surname" type="text" ng-model="user.surname" ng-pattern="/^\b[A-Z][a-z]*(\s*\b[A-Z][a-z]*\b)*$/" required/><span style="color:red" ng-show="profileForm.surname.$invalid"> Surname is not valid!</span></td>
				</tr>
				<tr>
					<td>Password</td><td><input class="form-control" type="password" name="password" ng-model="user.password" ng-pattern="/^(?=.*[a-z])(?=.*\d)(?=.*[A-Z]).{8,}$/" required/><span style="color:red" ng-show="profileForm.password.$invalid"> Password must have 8 characters, at least one capital letter and one numeric!</span></td>
				</tr>
				<tr>
					<td>Birthday</td><td><input class="form-control" type="date" ng-model="user.dateOfBirth" required/></td>
				</tr>
				<tr>
					<td>Phone number</td><td><input class="form-control" type="text" ng-model="user.phone" required/></td>
				</tr>
				<tr>
					<td>City</td><td><input class="form-control" type="text" ng-model="user.city" required/></td>
				</tr>
				<tr name= "radi" ng-if="loggedUser.userRole=='GUEST'" ng-disabled=true>
					<td>Guest points</td><td>{{user.guestPoints}}</td>
				</tr>
				<tr>
					<td></td><td><input ng-disabled="profileForm.$invalid" class="btn btn-primary" type="button" value="Confirm" ng-click="confirmEditProfile()"/></td>
				</tr>
			</table>
		</form>
	</div>
</div>