<h1 class="page-header">Fast cards of institution: {{$parent.selected.institutionName}}</h1>
<div class="container">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Time</th>
					<th>Projection name</th>
					<th>Projection price</th>
					<th>Projection type</th>
					<th ng-if="loggedUser.userRole  == 'GUEST'">Reserve</th>
					<th>Discount(%)</th>
					<th>Real price</th>
					<th>Seat id</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="fastCard in fastInstitutionCards"
					ng-click="setSelectedFastCard(fastCard)"
					ng-class="{'info' : selectedFastCard===fastCard}">
					<td>{{fastCard.id}}</td>
					<td>{{fastCard.date}}</td>
					<td>{{fastCard.time}}</td>
					<td>{{fastCard.projection.projectionName}}</td>
					<td>{{fastCard.projection.price}}</td>
					<td>{{fastCard.projection.projectionType}}</td>
					<td ng-if="loggedUser.userRole  == 'GUEST'"><input class="btn btn-primary" type="button" value="Fast reserve" ng-click="fastReserve(fastCard)" /></td>
					<td>{{fastCard.discount}}</td>
					<td>{{fastCard.projection.price - (fastCard.projection.price*fastCard.discount)/100}}</td>
					<td>{{fastCard.table.id}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<input  ng-if="loggedUser.userRole == 'INSTITUTIONMANAGER'"class="btn btn-primary" type="button" value="AddCard" ng-click=setUpFields(1)>
	<div ng-show="add==1" ng-include src="'pages/AddFastCard.html'"></div>
</div>