<div class="containter" ng-controller="institutionController">
	<div class="container">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th><a href="#!/home" ng-click="sortInstitutionType = 'name'; sortInstitutionReverse = !sortInstitutionReverse">
            Name
            <span ng-show="sortInstitutionType == 'name' && !sortInstitutionReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortInstitutionType == 'name' && sortInstitutionReverse" class="fa fa-caret-up"></span>
          </a></th>
						<th><a href="#!/home" ng-click="sortInstitutionType = 'description'; sortInstitutionReverse = !sortInstitutionReverse">
            Description
            <span ng-show="sortInstitutionType == 'description' && !sortInstitutionReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortInstitutionType == 'description' && sortInstitutionReverse" class="fa fa-caret-up"></span>
          </a></th>
						<th>Type of institution</th>
						<th><a href="#!/home" ng-click="sortInstitutionType = 'adress'; sortInstitutionReverse = !sortInstitutionReverse">
            Address
            <span ng-show="sortInstitutionType == 'adress' && !sortInstitutionReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortInstitutionType == 'adress' && sortInstitutionReverse" class="fa fa-caret-up"></span>
          </a></th>
          <th>Map</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="institution in institutions | orderBy:sortInstitutionType:sortInstitutionReverse "
						ng-click="setSelected(institution)"
						ng-class="{'info' : selected===institution}">
						<td>{{institution.id}}</td>
						<td>{{institution.institutionName}}</td>
						<td>{{institution.description}}</td>
						<td>{{institution.institutionType}}</td>
						<td>{{institution.adresaIns}}</td>
							<iframe ng-src="{{trustSrc(institution.gmapsUrl)}}" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>						
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div ng-if="selected != null" ng-include src="'pages/tableProjections.html'"></div>
	<input ng-if="selected != null && selectedinstitutionProjection == null" class="btn btn-primary" type="button" value="Fast reservation" ng-click="showFast()"/>
	
	<div ng-if="selectedinstitutionProjection != null">
		<input class="btn btn-primary" type="button" value="Make reservation" ng-click="showMake()"/>
	</div>
	<form name="myForm" novalidate>
		<div ng-show="makeReservation!=false">
					<div class="form-group">
						<label>Reservation date:</label> 
						<input type="date" ng-value="date"
						 id = "date"
						 min="{{currentDate | date:'yyyy-MM-dd'}}")
						 ng-change="cancel()"
						 ng-Model="reservation.date" class="form-control"
						 placeholder="Enter date" required />
					</div>
					
					<div class="form-group">
						<label>Start time:</label> <input type="number" name="myDecimal1" step="0.1" min="00.00"
							ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" ng-change="cancel()" max="{{reservation.endTime}}" ng-Model="reservation.startTime" class="form-control"
							placeholder="Enter start time" required />
							<span ng-show="!myForm.myDecimal1.$valid" style="color:red">Valid format is 00-24h with 1 decimal</span>
					</div>
					
					<div class="form-group">
						<label>End time:</label> <input type="number" ng-change="cancel()" name="myDecimal2" step="0.1"  max="24.00"
							ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="{{reservation.startTime}}" ng-Model="reservation.endTime" class="form-control"
							placeholder="Enter start time" required />
							<span ng-show="!myForm.myDecimal2.$valid" style="color:red">Valid format is 00-24h with 1 decimal</span>
					</div>
					
					<div class="form-group">
						<label>Projection time(H in decimals):</label> 
						<div class="styled-select blue semi-square">
				   			<select  ng-model="reservation.selectedProjectionTime">
								<option ng-repeat="projTime in selectedinstitutionProjection.projectionTimes" ng-selected="reservation.selectedProjectionTime == projTime.Id" value="{{projTime.startTime}}">{{projTime.startTime}}</option>
							</select>
				      	</div>
					</div>
		</div>
		
	<div class="container" ng-if="myForm.$valid && makeReservation!=false">
		<button type="button" class="btn btn-primary" ng-click=showView(1)>Select tables</button>
		<button type="button" class="btn btn-primary" ng-click=showView(2)>Select friends</button>
		<button type="button" class="btn btn-primary" ng-disabled="!selectedTables.length>0" ng-click=confirm()>Confirm reservation</button>
	</div>
	</form>

	
	<div ng-show="fastReservation!=false">
			<div ng-include src="'pages/fastCards.html'"></div>
	</div>
	
	<div class="container" ng-show=show==1>
		<h1>Choose segment:</h1>
		<div class="styled-select blue semi-square">
   			<select  ng-model="selctedSegment" ng-change="clearTables()">
				<option ng-repeat="seg in segments" ng-selected="selctedSegment == seg.Id" value="{{seg.id}}">{{seg.position}}</option>
			</select>
      	</div>
		<div ng-repeat="seg in segments" ng-if="selctedSegment==seg.id">
			<h3 ng-init="getTablesForSegment(seg.id,$index)">Segment {{seg.position}}</h2>
			<div class="row" ng-repeat="x in range(0,seg.height)">
				<div class="thumbnail" style="display:inline-block;width:180px" ng-repeat="y in range(0,seg.width)">
					<div class="caption" id={{seg.id}}#{{x*seg.width+y}} ng-if="seg.tables[x*seg.width+y].id!=null" ng-click="addTable(seg.tables[x*seg.width+y],x*seg.width+y)" ng-class="{authTabs: !seg.tables[x*seg.width+y].free, authTabsGreen: seg.tables[x*seg.width+y].free}">
						<h3><i>Seat</i></h3>
						<p class="bg-primary">SeatID: {{seg.tables[x*seg.width+y].id}} </p>
						<p class="bg-primary">Free: {{seg.tables[x*seg.width+y].free}} </p>
					</div>
					<div class="caption authTabs" id={{seg.id}}#{{x*seg.width+y}} ng-if="seg.tables[x*seg.width+y].id==null">
						<h3><i>No seat</i></h3>
						<p>There is no seat</p> 
						<p>on this position</p>
						<p>in the institution.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<div class="container" ng-show=show==2>
		<h1>Choose friends:</h1>
		<div class="w3-card-8 w3-dark-grey" style="display:inline-block" ng-repeat="friend in friends">
		
			<div class="w3-container w3-center" >
			  <h3 ng-init="initFriend(friend)">Friend</h3>
			  <img src="../images/smiley.jpg" alt="Avatar" >
			  <h5>{{friend.userName +' '+ friend.surname}} </h5>
			
			  <button class="w3-button w3-green" ng-click="invite(friend)" ng-if="!friend.invited">Invite</button>
			  <button class="w3-button w3-red" ng-click="invite(friend)"ng-if="friend.invited">Remove</button>
			</div>
		</div>
	</div>	
</div>