<h2 class="page-header">Register projection for {{$parent.institution.institutionName}}</h2>
<div class="alert alert-danger" ng-show="error">
	<p>Check your input</p>
</div>
<form name="myForm" novalidate>
	<div class="form-group">
		<label>Name:</label> <input type="text" name="name"
			ng-Model="$parent.projection.projectionName" class="form-control"
			placeholder="Enter name" required pattern = "^[A-Z][a-z A-Z]*"  ng-minlength="3" ng-maxlength="30"/>
	</div>
	<div role="alert" style="color: red">
		<span class="error" ng-show="myForm.name.$error.minlength"> Too
			short!</span> <span class="error" ng-show="myForm.name.$error.maxlength">
			Too long!</span> <span class="error" ng-show="myForm.name.$error.pattern">
			Example with all permitted letters : "Sasa_da nekaNsda" !</span>
	</div>
	<div class="form-group">
		<label>Description:</label> <input type="text" name="des"
			ng-Model="$parent.projection.description" class="form-control"
			placeholder="Enter description" required pattern = "^[A-Z][a-z_ A-Z0-9]*" ng-maxlength="60"/>
	</div>
	<div role="alert" style="color: red">
		<span class="error" ng-show="myForm.des.$error.maxlength"> Too
			long!</span> <span class="error" ng-show="myForm.des.$error.pattern">
			Example with all permitted letters : "Sasa_da nekaNsda87" !</span>
	</div>
	<div class="form-group">
		<label>Actors:</label> <input type="text" name="des"
			ng-Model="$parent.projection.actor" class="form-control"
			placeholder="Enter actor" required pattern = "^[A-Z][a-z_ A-Z0-9]*" ng-maxlength="60"/>
	</div>
	<div class="form-group">
		<label>Duration:</label> <input type="text" name="des"
			ng-Model="$parent.projection.duration" class="form-control"
			placeholder="Enter duration" required pattern = "^[A-Z][a-z_ A-Z0-9]*" ng-maxlength="60"/>
	</div>
	<div class="form-group">
		<label>Director:</label> <input type="text" name="zzz"
			ng-Model="$parent.projection.director" class="form-control"
			placeholder="Enter director" required pattern = "^[A-Z][a-z_ A-Z0-9]*" ng-maxlength="60"/>
	</div>
	<div role="alert" style="color: red">
		<span class="error" ng-show="myForm.des.$error.maxlength"> Too
			long!</span> <span class="error" ng-show="myForm.des.$error.pattern">
			Example with all permitted letters : "Sasa_da nekaNsda87" !</span>
	</div>
	<div role="alert" style="color: red">
		<span class="error" ng-show="myForm.des.$error.maxlength"> Too
			long!</span> <span class="error" ng-show="myForm.des.$error.pattern">
			Example with all permitted letters : "Sasa_da nekaNsda87" !</span>
	</div>
	
	<div class="form-group">
		<label>Price:</label> <input type="number" step="0.1"
			ng-Model="$parent.projection.price" class="form-control"
			placeholder="Enter price" required />
	</div>
	 <label>Projection type?</label>
    <div class="form-group">
            <label class="radio-inline" >
                <input type="radio" value="MOVIE" ng-model="$parent.projection.projectionType" required/>
               	Movie
            </label>
            <label class="radio-inline">
                <input type="radio" value="PLAY" ng-model="$parent.projection.projectionType" required/>
                Play
            </label >
    </div>
	<div class="form-group">
		<button type="submit"
			class="btn btn-success" ng-disabled="myForm.$invalid" ng-Click="$parent.registerProjection()"
			>Submit</button>
	</div>
</form>
